<br><br><br>
<header class="doctor-header">
    <div class="header-content">
      <!-- Display Doctor's Name and Role -->
      <div class="doctor-info">
        <div>Welcome, <strong>{{ Username }}</strong></div>
        <div>Role: <strong>{{ Role }}</strong></div>
      </div>
      <h3> {{ Role }}'s Dashboard</h3>
      <!-- Logout Button -->
      <button class="logout-btn" (click)="logout()">Logout
        <fa-icon [icon]="faRightFromBracket" style = "margin-left: 10px; left: 2px;"></fa-icon>
      </button>
    </div>
  </header>
  
  <div class="dashboard-container">
    <!-- Sidebar -->
    <nav class="sidebar" [class.active]="isSidebarOpen">
      <ul>
        <li><a class="nav-link" routerLink="/app-patient-dashboard"  routerLinkActive="active">
          <fa-icon [icon]="faAddressCard" size= "2x" style = "margin-right: 10px; right: 2px;"></fa-icon>Profile</a></li>
        <li><a class="nav-link" routerLink="/app-appointments"  routerLinkActive="active">
          <fa-icon [icon]="faCalendarCheck"size= "2x"style = "margin-right: 10px; right: 2px;"></fa-icon>Appointments</a></li>
        <li><a class="nav-link" routerLink="/app-medical-records" routerLinkActive="active">
          <fa-icon [icon]="faNotesMedical" size= "2x"style = "margin-right: 10px; right: 2px;"></fa-icon>Medical Records</a></li>
        <li><a class="nav-link" routerLink="/app-prescription" routerLinkActive="active">
          <fa-icon [icon]="faFile" size= "2x"style = "margin-right: 10px; right: 2px;"></fa-icon>Prescriptions</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <div class="heading">
        <h2>Your Profile</h2>
      </div>
        <!-- Get Appointments Button -->
        <!-- <div class="get-appointment-btn-container">
          <button class="get-appointments-btn" (click)="fetchData()" >Get Details</button>
      </div> -->

      
      <!-- Input field below the button -->
    <div class="appointment-id-container">
      <label for="patientId" class="appointment-id-label">Enter Your ID:</label>
      <input type="number" [(ngModel)]="patientId" name="patientId" placeholder="Enter your ID">
    </div><br>
      <div *ngIf="Role === 'Patient'"  class="get-appointment-btn-container">
        <button class="get-appointments-btn" (click)="getAppointmentById(patientId)">Get Profile</button>
      </div>
        <!-- Add Appointment Button -->
        <div class="add-appointment-btn-container">
          <button class="add-appointment-btn" (click)="addAppointment()">Update Profile</button>
        </div>

        
        <div class="content-wrapper">
        <div class="appointments-container">
          <!-- Loop through appointments -->
          <div class="appointment-card ">
            <div *ngIf="DoctorObj">
            <h3>Patient Details </h3>
            <p><strong>Patient ID:</strong> {{ DoctorObj.patientId }}</p> 
            <p><strong>User ID:</strong> {{ DoctorObj.userId}} </p>
            <p><strong>Full Name</strong> {{ DoctorObj.fullName }}  </p>
            <p><strong>Date Of Birth</strong> {{ DoctorObj.dateOfBirth}}</p>
            <p><strong>Gender</strong> {{ DoctorObj.gender }}</p>
            <p><strong>Contact Number</strong> {{ DoctorObj.contactNumber }}</p>
            <p><strong>Address</strong> {{ DoctorObj.address }} </p>
            <p><strong>Medical History</strong> {{ DoctorObj.medicalHistory }}</p>
          </div>
            <div class="button-container">
              <button class="reschedule-btn" (click)="onEdit(DoctorObj)" >Edit</button>
              <!-- <button class="reject-btn" (click)="onReject(appointment)">Reject</button> -->
            </div>
          </div>
        </div>
      <div *ngIf="isAdding" class="container">
        <h2>Manage Profile</h2>
        <form>
          <div class="form-group">
            <label for="patientId">Patient ID</label>
            <input [(ngModel)]="DoctorObj.patientId" id="patientId" name="patientId" placeholder="Enter your patient ID" disabled />
          </div>
          <div class="form-group">
            <label for="userId">User ID</label>
            <input [(ngModel)]="DoctorObj.userId" id="userId" name="userId" placeholder="Enter your user ID"  />
          </div>
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input [(ngModel)]="DoctorObj.fullName" type="text" id="fullName" name="fullName" placeholder="Enter your full name" />
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Date Of Birth</label>
            <input [(ngModel)]="DoctorObj.dateOfBirth" type="datetime" id="dateOfBirth" name="dateOfBirth" placeholder="Enter your dateOfBirth" />
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <input [(ngModel)]="DoctorObj.gender" type="text" id="gender" name="gender" placeholder="Enter your gender " />
          </div>
          <div class="form-group">
            <label for="qualification">contact Number</label>
            <input [(ngModel)]="DoctorObj.contactNumber" type="tel" id="contactNumber" name="contactNumber" placeholder="Enter your contactNumber" />
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input [(ngModel)]="DoctorObj.address" type="text" id="address" name="address" placeholder="Enter your address" />
          </div>
          <div class="form-group">
            <label for="medicalHistory">Medical History</label>
            <input [(ngModel)]="DoctorObj.medicalHistory" type="text" id="medicalHistory" name="medicalHistory" placeholder="Enter your medicalHistory" />
          </div>
          @if(DoctorObj.patientId==0){
            <button type="submit" (click)="onSubmit()">Submit</button>
          }
          @else{
          <button type="submit" (click)="onUpdate()">Save Changes</button>
          }
          <button type="button" (click)="toggleForm()">Cancel</button>
        </form>
      </div>
    </div>
    <router-outlet></router-outlet>
    