<app-header></app-header>
<p>dashboard works!</p>
<div class="dashboard-container">
    <h1>Hospital Management Dashboard</h1>
  
    <div class="dashboard-grid">
      <!-- Patients Section -->
      <div class="card">
        <h2>Patients</h2>
        <p> Patients Records</p>
      </div>
  
      <!-- Doctors Section -->
      <div class="card">
        <h2>Doctors</h2>
        <p>Doctors Records</p>
      </div>
  
      <!-- Appointments Section -->
      <div class="card">
        <h2>Appointments Today</h2>
        <p>appointments record</p>
      </div>
  
      <!-- Beds Section -->
      <div class="card">
        <h2>Medical records</h2>
        <p>Medical Records </p>
      </div>
    </div>
  </div>
  